body {
    margin:0;
    padding:0;
 }

.no-input-alert{
    margin-top: 10px;
}

.register-div {
    position: absolute;
    bottom: 80px;
    right: 80px;
    width: 25%;
    padding: 10px;
    border-width: 1px;
    border-radius: 10px;
    border-color: rgb(209, 209, 209);
    border-style: solid;
}